.area svg text {
	fill: currentColor;
}

.area svg .tick line,
.area svg .domain {
	stroke: currentColor;
}

/*road dataset*/
.gas {
	fill: #EDDB7C;
}

.diesel {
	fill: #F6CF22;
}

.LPG {
	fill: #5DC1BE;
}

/*air dataset*/
.local {
	fill: #EDDB7C;
}

.itinerant {
	fill: #F6CF22;
}


.canada-map path {
	fill: #94a6b2;
	stroke: #fff;
	stroke-width: 0.03;
	opacity: 1;
}

.canada-map.zoomed path:not(.zoomed) {
	opacity: 0.4;
}

.inactive {
	opacity: 0.5;
}