.area svg text {
	fill: currentColor;
}

.area svg .tick line,
.area svg .domain {
	stroke: currentColor;
}

/*road dataset*/
.gas {
	fill: #EDDB7C;
}

.diesel {
	fill: #F6CF22;
}

.LPG {
	fill: #5DC1BE;
}

/*air dataset*/
.local, .rank_local {
	fill: #5DC1BE;
}

.itinerant, .rank_itinerant {
	fill: #F6CF22;
}
.Remaining_itinerant {
	fill: #F6CF22;
	opacity: 0.3;
}
.Remaining_local {
	fill: #5DC1BE;
	opacity: 0.2;
}
.rank_total {
	fill:  #024571;
}
.rank_yr, .rank_type {
	stroke: #CECECE;
	font-size: 16px;
}
.rank_value {
	fill: white;
  	stroke: none;
	font-size: 14px;

}

/*rail dataset*/
#destChartTitle {
	font-size: 15px;
	fill: #212529;
	stroke: none;
}
.ATR {
	fill: #4D5D6C;
}
.ON {
	fill: #CECECE;
}
.BC {
	fill: #FEC04F;
}



/*map*/
.canada-map path {
	fill: #94a6b2;
	stroke: #fff;
	stroke-width: 0.03;
	opacity: 1;
}

.canada-map.zoomed path:not(.zoomed) {
	opacity: 0.4;
}