/* all tables */
.details .chart-data-table {
  padding-bottom: 0em;
}
.table {
	margin-bottom: 0px;
}

.area svg text {
	fill: currentColor;
}

.area svg .tick line,
.area svg .domain {
	stroke: currentColor;
}

/*road dataset*/
.gas {
	fill: #EDDB7C;
}
.diesel {
	fill: #F99691;
}
.lpg {
	fill: #5DC1BE;
}
.roadMapHighlight {
	stroke: #467B8D !important;
	stroke-width: 0.5 !important;
}
#svgFuel .area-label {
	font-size: 20px;
	fill: #555;
}
#svgFuel .chart-label {
	font-size: 20px;
	fill: #69757c;
}
#svgFuel .tick text {
	fill: #69757c;
	stroke: none;
	font-size: 22px;
	font-family: "Noto Sans", sans-serif;
}
#svgFuel .axis .tick line {
  stroke: #aaa;
	stroke-width: 2px;
}
#svgFuel .axis path  {
  stroke: #aaa;
	stroke-width: 2px;
}
.fueldata #chrt-dt-tbl  {
  font-size: 18px;
}
#mapTitleRoad, #areaTitleRoad {
  font-weight: bold;
}
#mapColourScale text {
	fill: #565656;
	stroke: "none";
	font-size: 13px;
}
#map-dt-tbl table tbody tr {
  font-size: 10px;
}
/* .map-data-table {
  position: relative;
  top: -50px;
} */

table, th, td {
  font-size: 12px;
}

/*air dataset*/
/*-- table --*/
.airdata #chrt-dt-tbl  {
  font-size: 18px;
}
.airdata #chrt-dt-tbl1  {
  font-size: 18px;
}

/*-- airport circle fill --*/
.allYears {
	fill: #008E09;
	stroke: black;
	stroke-width: 0.3px;
	cursor: pointer;
}
.noYears {
	fill: gray;
	stroke: black;
	stroke-width: 0.3px;
}
.lastSevenYears {
	fill: #008E09;
	stroke: black;
	stroke-width: 0.3px;
	cursor: pointer;
}
.lastSixYears {
	fill: #008E09;
	stroke: black;
	stroke-width: 0.3px;
	cursor: pointer;
}
.lastFiveYears {
	fill: #008E09;
	stroke: black;
	stroke-width: 0.3px;
	cursor: pointer;
}
.mix {
	fill: gray;
	stroke: black;
	stroke-width: 0.3px;
}
.airport {
	/* stroke: black;
	stroke-width: 0.5px; */
}
#svg_areaChartAir .area-label {
	font-size: 12px;
	fill: #3D3D3D;
}
#svg_areaChartAir .tick text {
	fill: #69757c;
	stroke: none;
	font-size: 12px;
	font-family: "Noto Sans", sans-serif;
}
#svg_areaChartAir .axis path  {
  stroke: #aaa;
}
#svg_areaChartAir .axis .tick line {
  stroke: #aaa;
}
#svg_areaChartAir .chart-label {
	font-size: 12px;
	fill: #555;
}
.local, .domestic {
	fill: #F6CF22;
	opacity: 0.6;
}

.itinerant, .trans_border {
	fill: #a6611a;
  opacity: 0.6;
}
.other_intl {
  fill: #83C3F2;
	opacity: 0.6;
}
.areaChartTitle {
	font-size: 14px;
	font-weight: bold;
}
.total {
	fill: #C1D699;
}
.domain {
	display: none;
}
.tick text {
	fill: #69757c;
	stroke: none;
	font-size: 10px;
	font-family: "Noto Sans", sans-serif;
}
.tick line {
	stroke: none;
}
/* line chart for air */
.line svg text {
	fill: black;
}
.line svg .tick line,
.line svg .domain {
	stroke: black;
}
#svg_lineChart .area  {
  opacity: 0.5;
}
#svg_lineChart .area2  {
  fill: #046D8B;
	opacity: 0.7;
}
#svg_lineChart .area1  {
  fill: #D4C098;
	opacity: 1;
}
#svg_lineChart .chart-label {
	font-size: 8px;
	fill: #555;
}
#svg_lineChart .tick text {
	font-size: 8px;
}
#svg_lineChart .area-label {
	font-size: 7px;
	fill: #333333;
}
.line-label, .chart-label {
	font-size: 9px;
	fill: #555;
}
.area-label {
	font-size: 12px;
	fill: #555;
}

.tick text {
	font-size: 8px;
}
.domain {
	display: inline;
}
#svg_lineChart .axis path  {
  stroke: #aaa;
}
#svg_lineChart .axis .tick line {
  stroke: #aaa;
}
#svg_lineChart .areaChartTitle {
  font-size: 8px;
  fill: #555;
  font-weight: bold;
}

/*rail dataset*/
/* SOLID LINES */
.legendLine.ABto, .dline.ABtoAB, .dline.ABtoAT, .dline.ABtoBC, .dline.ABtoMB,
.dline.ABtoON, .dline.ABtoQC, .dline.ABtoSK, .dline.ABtoUS-MEX {
  stroke: #c994c7;
  stroke-width: 4px;
  stroke-dasharray: 4px;
}
.legendLine.ATto, .dline.ATtoAB, .dline.ATtoAT, .dline.ATtoBC, .dline.ATtoMB,
.dline.ATtoON, .dline.ATtoQC, .dline.ATtoSK, .dline.ATtoUS-MEX
 {
  stroke: #555;
  stroke-width: 3px;
}
.legendLine.BCto, .dline.BCtoAB, .dline.BCtoAT, .dline.BCtoBC, .dline.BCtoMB,
.dline.BCtoON, .dline.BCtoQC, .dline.BCtoSK, .dline.BCtoUS-MEX {
  stroke: #1B676B;
  stroke-width: 4px;
  stroke-dasharray: 4px;
}
.legendLine.MBto, .dline.MBtoAT, .dline.MBtoAB, .dline.MBtoBC, .dline.MBtoMB,
.dline.MBtoON, .dline.MBtoQC, .dline.MBtoSK, .dline.MBtoUS-MEX {
  stroke: #31a354;
  stroke-width: 4px;
}
.legendLine.ONto, .dline.ONtoAT, .dline.ONtoAB, .dline.ONtoBC, .dline.ONtoMB,
.dline.ONtoON, .dline.ONtoQC, .dline.ONtoSK, .dline.ONtoUS-MEX  {
  stroke: #555;
  stroke-width: 4px;
}
.legendLine.QCto, .dline.QCtoAT, .dline.QCtoAB, .dline.QCtoBC, .dline.QCtoMB,
.dline.QCtoON, .dline.QCtoQC, .dline.QCtoSK, .dline.QCtoUS-MEX  {
  stroke: #3182bd;
  stroke-width: 4px;
}
.legendLine.SKto, .dline.SKtoAT, .dline.SKtoAB, .dline.SKtoBC, .dline.SKtoMB,
.dline.SKtoON, .dline.SKtoQC, .dline.SKtoSK, .dline.SKtoUS-MEX {
  stroke: #dd1c77;
  stroke-width: 4px;
}
/* DASHED LINES dline2 */
.legendLine2.ABto, .dline2.ABtoAB, .dline2.ABtoAT, .dline2.ABtoBC, .dline2.ABtoMB,
.dline2.ABtoON, .dline2.ABtoQC, .dline2.ABtoSK, .dline2.ABtoUS-MEX {
  stroke: #c994c7;
  stroke-width: 4px;
  stroke-dasharray: 4px;
}
.legendLine2.ATto, .dline2.ATtoAB, .dline2.ATtoAT, .dline2.ATtoBC, .dline2.ATtoMB,
.dline2.ATtoON, .dline2.ATtoQC, .dline2.ATtoSK, .dline2.ATtoUS-MEX
 {
  stroke: #555;
  stroke-width: 3px;
  stroke-dasharray: 4px;
}
.legendLine2.BCto, .dline2.BCtoAB, .dline2.BCtoAT, .dline2.BCtoBC, .dline2.BCtoMB,
.dline2.BCtoON, .dline2.BCtoQC, .dline2.BCtoSK, .dline2.BCtoUS-MEX {
  stroke: #1B676B;
  stroke-width: 4px;
  stroke-dasharray: 4px;
}
.legendLine2.MBto, .dline2.MBtoAT, .dline2.MBtoAB, .dline2.MBtoBC, .dline2.MBtoMB,
.dline2.MBtoON, .dline2.MBtoQC, .dline2.MBtoSK, .dline2.MBtoUS-MEX {
  stroke: #31a354;
  stroke-width: 4px;
  stroke-dasharray: 4px;
}
.legendLine2.ONto, .dline2.ONtoAT, .dline2.ONtoAB, .dline2.ONtoBC, .dline2.ONtoMB,
.dline2.ONtoON, .dline2.ONtoQC, .dline2.ONtoSK, .dline2.ONtoUS-MEX  {
  stroke: #555;
  stroke-width: 4px;
  stroke-dasharray: 4px;
}
.legendLine2.QCto, .dline2.QCtoAT, .dline2.QCtoAB, .dline2.QCtoBC, .dline2.QCtoMB,
.dline2.QCtoON, .dline2.QCtoQC, .dline2.QCtoSK, .dline2.QCtoUS-MEX  {
  stroke: #3182bd;
  stroke-width: 4px;
  stroke-dasharray: 4px;
}
.legendLine2.SKto, .dline2.SKtoAT, .dline2.SKtoAB, .dline2.SKtoBC, .dline2.SKtoMB,
.dline2.SKtoON, .dline2.SKtoQC, .dline2.SKtoSK, .dline2.SKtoUS-MEX {
  stroke: #dd1c77;
  stroke-width: 4px;
  stroke-dasharray: 4px;
}

#tonnageDivIdLines .line-label {
  opacity: 0;
}
#tonnageDivIdLines .chart-label {
  font-size: 14px;
  fill: #555;
}
#tonnageDivIdLines .tick text {
	font-size: 16px;
}
/* END LINES */

.legendTextRail text {
  font-size: 13px;
  fill: #555;
}
#tonnageDivId .line-label {
  opacity: 0;
}

/* x-axis tick labels (years) */
#tonnageDivId .tick text {
	font-size: 20px;
}
/* y-axis label (Tonnage)
Show only for top 2 charts
*/
#tonnageDivId .chart-label {
  font-size: 20px;
  fill: #555;
}
#svg_pair3 .y.axis .chart-label {
  opacity: 0;
}
#svg_pair4 .y.axis .chart-label {
  opacity: 0;
}
#svg_pair5 .y.axis .chart-label {
  opacity: 0;
}
#svg_pair6 .y.axis .chart-label {
  opacity: 0;
}
#svg_pair7 .y.axis .chart-label {
  opacity: 0;
}
#svg_pair8 .y.axis .chart-label {
  opacity: 0;
}
#svg_pair1 .x.axis .chart-label {
  opacity: 0;
}
#svg_pair2 .x.axis .chart-label {
  opacity: 0;
}
#svg_pair3 .x.axis .chart-label {
  opacity: 0;
}
#svg_pair4 .x.axis .chart-label {
  opacity: 0;
}


#commTableTitle {
	font-size: 20px;
	color: #333;
  font-weight: bold;
}
.ATR {
	fill: #e5c494;
}
.QC {
	fill: #ffd92f;;
}
.ON {
	fill: #a6d854;
}
.MB {
	fill: #e78ac3;
}
.SK {
	fill: #8da0cb;
}
.AB {
	fill: #fc8d62;
}
.BC {
	fill: #66c2a5;
}
.US {
	fill: #7fbc41;
}
.USMX {
	fill: #4d9221;
}
.USMX {
	fill: #737373;
}
.inactive-region {
	opacity: 0.1 !important;
}

.comm_yr {
	fill: #666666;
  	stroke: none;
	font-size: 16px;
}
.comm_type {
	fill: #666666;
  	stroke: none;
	font-size: 14px;
}
.comm_value {
	fill: #666666;
  stroke: none;
	font-size: 14px;

}
.bubble-row-text {
  font-size: 10px;
  text-anchor: start;
}
.bubble-text {
  font-size: 10px;
  text-anchor: middle;
}
.bubble-col {
  font-size: 12px;
}
.bubble-col .tick {
  text-anchor: middle;
}
.bubble-col .tick text {
  font-size: 12px;
  fill: #333;
}
.wheat circle {
	fill:  #024571;
}
.iron circle {
	fill:  #5DC1BE;
}
.coal circle {
	fill:  #F6CF22;
}
.potash circle {
	fill:  #555;
}
.mixedloads circle {
	fill:  #BF4D28;
}
#prevButton {
	position: relative;
  	top: -3px;
  	left: 960px;
  	border: 1px solid #CECECE;
}
#nextButton {
	position: relative;
  	top: -3px;
  	left: 970px;
  	border: 1px solid #CECECE;
}
.inactive {
	pointer-events: none;
	opacity: 0.5;
}
.active {
	pointer-events: auto;
}
#pageNum {
	font-size: 14px;
	text-align: right;
	padding-right: 35px;
	position: relative;
	top: -32px;
}
/*expt rail dataset*/
div.tooltip {
	position: absolute;
	padding: 5px;
	text-align: left;
	font: 12px sans-serif;
	color: #000;
	background: #AAA;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
	border-radius: 8px;
}
/* radar */
.orig {
	stroke: rgb(5, 143, 188);
	stroke-width: 4;
}
.dest {
	stroke: rgb(204, 0, 71);
	stroke-width: 4;
}
.legendText {
	stroke: none;
  font-size: 14px;
}
.lineDest, .seriesDest {
	fill: rgba(254, 195, 195, 0.7);
	stroke: rgb(204, 0, 71);
}
.lineOrig, .seriesOrig {
	fill: rgba(169, 203, 255, 0.7);
	stroke: rgb(5, 143, 188);
}

/*map*/
.canada-map path {
	fill: #94a6b2;
	stroke: #fff;
	stroke-width: 0.03;
	opacity: 1;
}

/*modes dataset*/
/*-- table --*/
#modesTable {
    position: relative;
    top: -200px;
}
#modesTable summary {
	font-size: 18px;
}
.details .chart-data-table {
  padding-bottom: 0em;
}

/*-- Sankey --*/
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
	font-size: 12px;
}

.link {
  fill: none;
  stroke: #999;
  stroke-opacity: .3;
}

.link:hover {
  stroke-opacity: .5;
}
/* node rect colours */
.intl rect {
  fill: #607890;
}
.USres rect {
	fill: #CC982A;
	}
.nonUS rect {
	fill: #928941;
	}
.cdnFromUS rect {
	fill: #FFDC68;
	}
.cdnFromOther rect {
	fill: #FAB491;
}
.USres_land rect {
	fill: #CC982A;
}
.USres_air rect {
	fill: #CC982A;
}
.USres_marine rect {
	fill: #CC982A;
}
.USres_car rect {
	fill: #CC982A;
}
.USres_bus rect {
	fill: #CC982A;
}
.USres_train rect {
	fill: #CC982A;
}
.USres_other rect {
		fill: #CC982A;
}
.nonUS_land rect {
	fill: #928941;
}
.nonUS_air rect {
	fill: #928941;
}
.nonUS_marine rect {
	fill: #928941;
}
.cdnFromUS_land rect {
 fill: #FFDC68;
}
.cdnFromUS_air rect {
	fill: #FFDC68;
}
.cdnFromUS_marine rect {
	fill: #FFDC68;
}
.cdnFromUS_car rect {
	fill: #FFDC68;
}
.cdnFromUS_bus rect {
	 fill: #FFDC68;
}
.cdnFromUS_train rect {
	fill: #FFDC68;
}
.cdnFromUS_other rect {
	fill: #FFDC68;
}
.cdnFromOther_land rect {
	fill: #FAB491;
}
.cdnFromOther_air rect {
	fill: #FAB491;
}
.cdnFromOther_marine rect {
	fill: #FAB491;
}
