.area svg text {
	fill: currentColor;
}

.area svg .tick line,
.area svg .domain {
	stroke: currentColor;
}

/*road dataset*/
.gas {
	fill: #EDDB7C;
}
.diesel {
	fill: #F99691;
}
.lpg {
	fill: #5DC1BE;
}
.roadMapHighlight {
	stroke: #467B8D !important;
	stroke-width: 0.5 !important;
}
#svgFuel .area-label {
	font-size: 20px;
	fill: #555;
}
#svgFuel .chart-label {
	font-size: 20px;
	fill: #69757c;
}
#svgFuel .tick text {
	fill: #69757c;
	stroke: none;
	font-size: 22px;
	font-family: "Noto Sans", sans-serif;
}
#svgFuel .axis .tick line {
  stroke: #aaa;
	stroke-width: 2px;
}
#svgFuel .axis path  {
  stroke: #aaa;
	stroke-width: 2px;
}
#mapColourScale text {
	fill: #565656;
	stroke: "none";
	font-size: 13px;
}

/*air dataset*/
/* classes for airport circle fill */
.allYears {
	fill: #008E09;
	stroke: black;
	stroke-width: 0.3px;
	cursor: pointer;
}
.noYears {
	fill: gray;
	stroke: black;
	stroke-width: 0.3px;
}
.lastSevenYears {
	fill: #008E09;
	stroke: black;
	stroke-width: 0.3px;
	cursor: pointer;
}
.lastSixYears {
	fill: #008E09;
	stroke: black;
	stroke-width: 0.3px;
	cursor: pointer;
}
.lastFiveYears {
	fill: #008E09;
	stroke: black;
	stroke-width: 0.3px;
	cursor: pointer;
}
.mix {
	fill: gray;
	stroke: black;
	stroke-width: 0.3px;
}
.airport {
	/* stroke: black;
	stroke-width: 0.5px; */
}
#svg_areaChartAir .area-label {
	font-size: 12px;
	fill: #3D3D3D;
}
#svg_areaChartAir .tick text {
	fill: #69757c;
	stroke: none;
	font-size: 12px;
	font-family: "Noto Sans", sans-serif;
}
#svg_areaChartAir .axis path  {
  stroke: #aaa;
}
#svg_areaChartAir .axis .tick line {
  stroke: #aaa;
}
#svg_areaChartAir .chart-label {
	font-size: 12px;
	fill: #555;
}
.local, .domestic {
	fill: #F6CF22;
}
.itinerant {
	fill: #a6611a;
  opacity: 0.6;
}
.transborder {
	fill: #C9DF61;
  opacity: 0.6;
}
.international {
  fill: #83C3F2;
}
.areaChartTitle {
	font-size: 14px;
	font-weight: bold;
}
.total {
	fill: #C1D699;
}
.domain {
	display: none;
}
.tick text {
	fill: #69757c;
	stroke: none;
	font-size: 10px;
	font-family: "Noto Sans", sans-serif;
}
.tick line {
	stroke: none;
}
/* line chart for air */
.line svg text {
	fill: black;
}
.line svg .tick line,
.line svg .domain {
	stroke: black;
}
#svg_lineChart .area  {
  opacity: 0.5;
}
#svg_lineChart .area2  {
  fill: #046D8B;
	opacity: 0.7;
}
#svg_lineChart .area1  {
  fill: #D4C098;
	opacity: 1;
}
#svg_lineChart .chart-label {
	font-size: 8px;
	fill: #555;
}
#svg_lineChart .tick text {
	font-size: 8px;
}
#svg_lineChart .area-label {
	font-size: 7px;
	fill: #333333;
}
.line-label, .chart-label {
	font-size: 9px;
	fill: #555;
}
.area-label {
	font-size: 12px;
	fill: #555;
}

.tick text {
	font-size: 8px;
}
.domain {
	display: inline;
}
#svg_lineChart .axis path  {
  stroke: #aaa;
}
#svg_lineChart .axis .tick line {
  stroke: #aaa;
}
#svg_lineChart .areaChartTitle {
  font-size: 8px;
  fill: #555;
  font-weight: bold;
}

/*rail dataset*/
.ABto, .ABtoAB, .ABtoATR, .ABtoBC, .ABtoMB, .ABtoON, .ABtoQC, .ABtoSK, .ABtoUSMEX {
	fill: #655643;
}
.ATRto, .ATRtoAB, .ATRtoATR, .ATRtoBC, .ATRtoMB, .ATRtoON, .ATRtoQC, .ATRtoSK, .ATRtoUSMEX {
	fill: #EDDB7C;
}
.BCto, .BCtoAB, .BCtoATR, .BCtoBC, .BCtoMB, .BCtoON, .BCtoQC, .BCtoSK, .BCtoUSMEX {
	fill: #1B676B;
}
.MBto, .MBtoATR, .MBtoAB, .MBtoBC, .MBtoMB, .MBtoON, .MBtoQC, .MBtoSK, .MBtoUSMEX {
	fill: #005596;
}
.ONto, .ONtoATR, .ONtoAB, .ONtoBC, .ONtoMB, .ONtoON, .ONtoQC, .ONtoSK, .ONtoUSMEX {
	fill: #BF4D28;
}
.QCto, .QCtoATR, .QCtoAB, .QCtoBC, .QCtoMB, .QCtoON, .QCtoQC, .QCtoSK, .QCtoUSMEX {
	fill: #87244C;
}
.SKto, .SKtoATR, .SKtoAB, .SKtoBC, .SKtoMB, .SKtoON, .SKtoQC, .SKtoSK, .SKtoUSMEX {
	fill: #FC913A;
}

.legendTextRail text {
  font-size: 13px;
  fill: #555;
}
#tonnageDivId .area-label {
  opacity: 0;
}

/* x-axis tick labels (years) */
#tonnageDivId .tick text {
	font-size: 20px;
}
/* y-axis label (Tonnage)
Show only for top 2 charts
*/
#tonnageDivId .chart-label {
  font-size: 20px;
  fill: #555;
}
#svg_pair3 .y.axis .chart-label {
  opacity: 0;
}
#svg_pair4 .y.axis .chart-label {
  opacity: 0;
}
#svg_pair5 .y.axis .chart-label {
  opacity: 0;
}
#svg_pair6 .y.axis .chart-label {
  opacity: 0;
}
#svg_pair7 .y.axis .chart-label {
  opacity: 0;
}
#svg_pair8 .y.axis .chart-label {
  opacity: 0;
}
#svg_pair1 .x.axis .chart-label {
  opacity: 0;
}
#svg_pair2 .x.axis .chart-label {
  opacity: 0;
}
#svg_pair3 .x.axis .chart-label {
  opacity: 0;
}
#svg_pair4 .x.axis .chart-label {
  opacity: 0;
}


#commTableTitle {
	font-size: 20px;
	color: #333;
  font-weight: bold;
}
.ATR {
	fill: #e5c494;
}
.QC {
	fill: #ffd92f;;
}
.ON {
	fill: #a6d854;
}
.MB {
	fill: #e78ac3;
}
.SK {
	fill: #8da0cb;
}
.AB {
	fill: #fc8d62;
}
.BC {
	fill: #66c2a5;
}
.US {
	fill: #7fbc41;
}
.USMX {
	fill: #4d9221;
}
.USMX {
	fill: #737373;
}
.inactive-region {
	opacity: 0.1 !important;
}

.comm_yr {
	fill: #666666;
  	stroke: none;
	font-size: 16px;
}
.comm_type {
	fill: #666666;
  	stroke: none;
	font-size: 14px;
}
.comm_value {
	fill: #666666;
  	stroke: none;
	font-size: 14px;

}
.comm_wheat {
	fill:  #024571;
}
.comm_cereal {
	fill:  #5DC1BE;
}
.comm_freshveg {
	fill:  #F6CF22;
}
.comm_gen {
	fill:  #CECECE;
	stroke: #909294;
}
#prevButton {
	position: relative;
  	top: -43px;
  	left: 960px;
  	border: 1px solid #CECECE;
}
#nextButton {
	position: relative;
  	top: -43px;
  	left: 970px;
  	border: 1px solid #CECECE;
}
.inactive {
	pointer-events: none;
	opacity: 0.5;
}
.active {
	pointer-events: auto;
}
#pageNum {
	font-size: 14px;
	text-align: right;
	padding-right: 35px;
	position: relative;
	top: -32px;
}
/*expt rail dataset*/
div.tooltip {
	position: absolute;
	padding: 5px;
	text-align: left;
	font: 12px sans-serif;
	color: #000;
	background: #AAA;
	border-style: solid;
	border-width: 2px;
	border-color: #000;
	border-radius: 8px;
}
/* radar */
.orig {
	stroke: rgb(5, 143, 188);
	stroke-width: 4;
}
.dest {
	stroke: rgb(204, 0, 71);
	stroke-width: 4;
}
.legendText {
	stroke: none;
  font-size: 14px;
}
.lineDest, .seriesDest {
	fill: rgba(254, 195, 195, 0.7);
	stroke: rgb(204, 0, 71);
}
.lineOrig, .seriesOrig {
	fill: rgba(169, 203, 255, 0.7);
	stroke: rgb(5, 143, 188);
}

/*map*/
.canada-map path {
	fill: #94a6b2;
	stroke: #fff;
	stroke-width: 0.03;
	opacity: 1;
}

/*modes dataset*/
.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
	font-size: 12px;
}

.link {
  fill: none;
  stroke: #999;
  stroke-opacity: .3;
}

.link:hover {
  stroke-opacity: .5;
}
/* node rect colours */
.intl rect {
  fill: #607890;
}
.USres rect {
	fill: #CC982A;
	}
.nonUS rect {
	fill: #928941;
	}
.cdnFromUS rect {
	fill: #FFDC68;
	}
.cdnFromOther rect {
	fill: #FAB491;
}
.USres_land rect {
	fill: #CC982A;
}
.USres_air rect {
	fill: #CC982A;
}
.USres_marine rect {
	fill: #CC982A;
}
.USres_car rect {
	fill: #CC982A;
}
.USres_bus rect {
	fill: #CC982A;
}
.USres_train rect {
	fill: #CC982A;
}
.USres_other rect {
		fill: #CC982A;
}
.nonUS_land rect {
	fill: #928941;
}
.nonUS_air rect {
	fill: #928941;
}
.nonUS_marine rect {
	fill: #928941;
}
.cdnFromUS_land rect {
 fill: #FFDC68;
}
.cdnFromUS_air rect {
	fill: #FFDC68;
}
.cdnFromUS_marine rect {
	fill: #FFDC68;
}
.cdnFromUS_car rect {
	fill: #FFDC68;
}
.cdnFromUS_bus rect {
	 fill: #FFDC68;
}
.cdnFromUS_train rect {
	fill: #FFDC68;
}
.cdnFromUS_other rect {
	fill: #FFDC68;
}
.cdnFromOther_land rect {
	fill: #FAB491;
}
.cdnFromOther_air rect {
	fill: #FAB491;
}
.cdnFromOther_marine rect {
	fill: #FAB491;
}
